/* reset
------------------------------*/
body, h1, h2, h3, h4, h5, h6, hr, p, blockquote, dl, dt, dd, ul, ol,
li, pre, fieldset, lengend, button, input, textarea, th, td {
    margin: 0;
    padding: 0;
}

input[type="button"], input[type="submit"], input[type="reset"] {
    -webkit-appearance: none;
}

textarea {
    -webkit-appearance: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

blockquote, q {
    quotes: none;
}

ul, ol, li {
    list-style: none;
}

form {
    margin: 0;
}

fieldset, img {
    border: none;
}

input {
    line-height: 150%;
}

button {
    cursor: pointer;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

em {
    font-style: normal;
}

/* globle set
------------------------------*/
body,
button, input, select, textarea {
    font-family: microsoft yahei, simsun, Tahoma, Arial, serif;
    color: #6a3906;
}

body {
    text-align: center;
}

a {
    color: #6a3906;
    text-decoration: none;
}

a:hover {
    color: #6a3906;
}

textarea {
    resize: none;
}

/* pub className
------------------------------*/

/* Hides from IE-mac \*/
* html .clearfix {
    height: 1%;
}

/* End hide from IE-mac */

.clear {
    _zoom: 1;
}

.clear {
    display: inline-block;
}

.clear {
    display: block;
}

.clear:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}

.hide {
    display: none;
}

.show {
    display: block;
}

.float-left {
    float: left;
}

.float-right {
    float: right;
}

.text-center {
    text-align: center;
}

.text-right {
    text-align: right;
}

.text-left {
    text-align: left;
}

@media screen and (max-width: 1080px) {
    html {
        font-size: 40px;
    }
}

@media screen and (max-width: 1920px) {
    html {
        font-size: 71.11px;
    }
}

@media screen and (max-width: 1440px) {
    html {
        font-size: 53.33px;
    }
}

@media screen and (max-width: 1280px) {
    html {
        font-size: 47.40px;
        -webkit-text-size-adjust: none;
    }
}

@media screen and (max-width: 950px) {
    html {
        font-size: 35.19px;
        -webkit-text-size-adjust: none;
    }
}

@media screen and (max-width: 800px) {
    html {
        font-size: 29.63px;
    }
}

@media screen and (max-width: 768px) {
    html {
        font-size: 28.45px;
        -webkit-text-size-adjust: none;
    }
}

@media screen and (max-width: 720px) {
    html {
        font-size: 26.66px;
    }
}

@media screen and (max-width: 640px) {
    html {
        font-size: 23.70px;
    }
}

@media screen and (max-width: 600px) {
    html {
        font-size: 22.22px;
        -webkit-text-size-adjust: none;
    }
}

@media screen and (max-width: 568px) {
    html {
        font-size: 21.04px;
        -webkit-text-size-adjust: none;
    }
}

@media screen and (max-width: 435px) {
    html {
        font-size: 16.11px;
    }
}

@media screen and (max-width: 414px) {
    html {
        font-size: 15.33px;
        -webkit-text-size-adjust: none;
    }
}

@media screen and (max-width: 412px) {
    html {
        font-size: 15.26px;
        -webkit-text-size-adjust: none;
    }
}

@media screen and (max-width: 411px) {
    html {
        font-size: 15.22px;
        -webkit-text-size-adjust: none;
    }
}

@media screen and (max-width: 375px) {
    html {
        font-size: 13.89px;
        -webkit-text-size-adjust: none;
    }
}

@media screen and (max-width: 360px) {
    html {
        font-size: 13.33px;
        -webkit-text-size-adjust: none;
    }
}

@media screen and (max-width: 357px) {
    html {
        font-size: 13.22px;
        -webkit-text-size-adjust: none;
    }
}

@media screen and (max-width: 320px) {
    html {
        font-size: 11.86px;
        -webkit-text-size-adjust: none;
    }
}
