/* reset
------------------------------*/
body, h1, h2, h3, h4, h5, h6, hr, p, blockquote, dl, dt, dd, ul, ol,
li, pre, fieldset, lengend, button, input, textarea, th, td {
    margin: 0;
    padding: 0;
}

input[type="button"], input[type="submit"], input[type="reset"] {
    -webkit-appearance: none;
}

textarea {
    -webkit-appearance: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

blockquote, q {
    quotes: none;
}

ul, ol, li {
    list-style: none;
}

form {
    margin: 0;
}

fieldset, img {
    border: none;
}

input {
    line-height: 150%;
}

button {
    cursor: pointer;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

em {
    font-style: normal;
}

/* globle set
------------------------------*/
body,
button, input, select, textarea {
    font-family: microsoft yahei, simsun, Tahoma, Arial, serif;
    color: #6a3906;
}

body {
    text-align: center;
}

a {
    color: #6a3906;
    text-decoration: none;
}

a:hover {
    color: #6a3906;
}

textarea {
    resize: none;
}

/* pub className
------------------------------*/

/* Hides from IE-mac \*/
* html .clearfix {
    height: 1%;
}

/* End hide from IE-mac */

.clear {
    _zoom: 1;
}

.clear {
    display: inline-block;
}

.clear {
    display: block;
}

.clear:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}

.hide {
    display: none;
}

.show {
    display: block;
}

.float-left {
    float: left;
}

.float-right {
    float: right;
}

.text-center {
    text-align: center;
}

.text-right {
    text-align: right;
}

.text-left {
    text-align: left;
}

