.menu_area {
    padding-top: 0.5rem;
    padding-bottom: 0.8rem;
    width: 100%;
    text-align: left;
    background-color: #fff;
}

.menu_area img {
    background-size: contain;
    border: 0;
    background-repeat: no-repeat;
    vertical-align: bottom;
}

.menu1 {
    margin-left: 1.8rem;
}

.menu2 {
    width: 5.65rem;
    height: 4.13rem;
    margin-left: 1.6rem;
}

.menu3 {
    margin-left: 1.6rem;
}

.menu4 {
    margin-left: 2.2rem;
}

.menu1, .menu3, .menu4 {
    width: 3.73rem;
    height: 4.03rem;
}


.bannerArea {
    width: 100%;
    height: auto;
    position: relative;
    overflow: hidden;
}

.bannerList {
    width: 100%;
    height: 11.38rem;
    overflow: hidden;
    position: relative;
}

.bannerList li {
    display: none;
    width: 100%;
    position: absolute;
    height: 100%;
    float: left;
    font-size: 0px;
    background-size: cover;
    background-position: center;
    top: 0;
    left: 0;
}

.bannerBtn {
    width: 100%;
    height: 3px;
    text-align: center;
    position: absolute;
    bottom: 18%;
}

.bannerBtn li {
    display: inline-block;
    width: .5rem;
    height: .5rem;
    border-radius: .25rem;
    -webkit-border-radius: .25rem;
    background: #FFFFFF;
    margin-right: .25rem;
    transition-duration: .5s;
    -webkit-transition-duration: .5s;
    cursor: pointer;
}

.bannerBtn li.cur {
    background: red;
    margin-right: .25rem;
}

.bannerBtn li.mr {
    margin-right: 0px;
    margin-right: 0.25rem;
}