

#header {
    background: url(../images/banner.png) 0 0 no-repeat;
    height: 4rem;
    background-size: 100% 4rem;
    position: relative;
}

#ico_home {
    background-image: url(../images/ico_home.png);
    background-size: contain;
    width: 2.6rem;
    height: 2.6rem;
    position: absolute;
    top: 50%;
    margin-top: -1.1rem;
    left: 0.8rem;
}

#ico_more {
    background-size: contain;
    width: 2.6rem;
    height: 2.6rem;
    position: absolute;
    top: 50%;
    margin-top: -1.1rem;
    right: 0.8rem;
}

/*轮播图片1080*455*/
.ad-hor {
    background-size: 100%, 11.38rem;
    height: 11.38rem;
}

#menu_area {
    padding-top: 0.5rem;
    padding-bottom: 0.8rem;
    width: 100%;
    text-align: left;
    background-color: #fff;
}

#menu_area img {
    background-size: contain;
    border: 0;
    background-repeat: no-repeat;
    vertical-align: bottom;
}

#menu1 {
    margin-left: 1.8rem;
}

#menu2 {
    width: 5.65rem;
    height: 4.13rem;
    margin-left: 1.6rem;
}

#menu3 {
    margin-left: 1.6rem;
}

#menu4 {
    margin-left: 2.2rem;
}

#menu1, #menu3, #menu4 {
    width: 3.73rem;
    height: 4.03rem;
}

#ad_list {
    padding-top: 0.5rem;
    background-color: #F6F6F6;
    text-align: center;
}

/*推广图1022*462*/
#ad_list img {
    width: 25.55rem;
    height: 11.55rem;
    margin-bottom: 0.45rem;
}

.divider {
    border: 1px solid #dddddd;
}



#container .bannerArea{ width: 100%; height: auto; position: relative; overflow: hidden;}

.bannerList{ width:100%;height: 11.38rem; overflow: hidden; position: relative;}
.bannerList li{display: none; width: 100%; position: absolute; height: 100%; float: left; font-size: 0px;
    background-size: cover;  background-position: center; top: 0; left: 0;}

.bannerBtn{ width: 100%; height: 3px; text-align: center; position: absolute; bottom: 8%;  }
.bannerBtn li{ display: inline-block; width:20px;height:20px; border-radius: 10px;-webkit-border-radius: 10px;
    background: #FFFFFF; margin-right: 10px; transition-duration: .5s;-webkit-transition-duration: .5s; cursor: pointer; }
.bannerBtn li.cur{ background: #FEFF00;margin-right: 10px;}
.bannerBtn li.mr{ margin-right: 0px;margin-right: 0.25rem;}